.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.text {
  background: linear-gradient(105.95deg, rgba(212, 199, 239, 0.6) 2.01%, rgba(212, 199, 239, 0.2) 87.13%);
  border: 1px solid #F1E8FF;
  border-radius: 8px;
  padding: 20px 25px 24px 25px; 
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text a {
  text-decoration: none;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.mockup {
  display: flex;
  justify-content: center;
  position: relative;
  height: 70%;
}

@media (max-width: 800px) {
  .card {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  .text {
    grid-row: 1;
    max-width: 80vw;
  }
  .mockup::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 60vw;
    background-color: var(--color-03);
    bottom: -40px;
  }
}

/* @media (max-width: 440px) {

} */