.background {
  background: linear-gradient(0deg, #EEE4FC 49.97%, #FFFFFF 100%);
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  padding-bottom: 16rem;
  padding-top: 7rem;
}

.content h1 {
  margin-bottom: 4rem;
}
