.background {
  height: 100vh;
}

.content {
  position: relative;
}

.content h1 {
  margin-bottom: 100px;
}

.text {
  background-color: rgba(241, 232, 255, 0.3);
  opacity: 0.85;
  backdrop-filter: blur(5px);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 55px;
  margin: 0 auto;
  width: fit-content;
  max-width: 48rem;
}


.decorations {
  position: absolute;
  z-index: -1;
}

.deco1 {
  top: 190px;
  right: 160px;
}

.deco2 {
  right: 360px;
  bottom: 20px;
}

.deco3 {
  top: 180px;
  left: 310px;
}

.deco4 {
  left: 160px;  
  bottom: -30px;
}
