.background {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  padding:  5px 20px 0 20px;
  z-index: 10;
}

@media (max-width: 1260px) {
  .background {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.header {
  background-color: rgba(249, 245, 255, 0.5);
  width: 100%;
  box-shadow: 0px 2px 18px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12px);
  border-radius: 8px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  position: relative;
}

@media (max-width: 1200px) {
  .content {
    padding-left: 28px;
    padding-right: 28px;
  }
}

.logo {
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 2.5rem;
}

.menu h3 {
  position: relative;
  cursor: pointer;
}

.menu h3::after {
  content: '';
  background-color: black;
  height: 2px;
  width: 0px;
  position: absolute;
  bottom: -4px;
  left: -2px;
  transition: all 0.3s;
}

.menu h3:hover::after {
  width: 104%;
}

.socials {
  display: flex;
  gap: 28px;
}

.content button {
  display: none;
}


@media (max-width: 820px) {
  .menu {
    display: none;
  }
  .socials {
    display: none;
  }
  .content button {
    display: inline-block;
  }
}

.menuLateral {
  position: absolute;
  bottom: -200px;
  right: 30px;


  display: none;
  flex-direction: column;
  gap: 2.25rem;

  background-color: var(--color-03);
  backdrop-filter: blur(12px);
  padding: 1rem 2rem;
  border-radius: 8px;
}

.ativo {
  display: flex;
}