.background {
  background: linear-gradient(180deg, #EEE4FC 0%, #FFFFFF 100%);
  height: 100vh;
  width: 100%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 15rem;
}

@media (max-width: 1260px) {
  .content {
    padding-left: 1.675rem;
    padding-right: 1.675rem;
  }
}

.introText {
  display: flex;
  flex-direction: column;
}

.introText h3 {
  position: relative;
  z-index: 1;
}

.introText h3::before {
  content: '';
  display: block;
  width: 50px;
  height: 44px;
  background: url('../../Assets/hello-deco.svg') no-repeat;
  position: absolute;
  z-index: -1;
  top: -16px;
  left: -20px;
}

@media (max-width: 900px) {
  .introText h3::before {
    top: -18px;
  }
}

.introText h2 {
  margin-bottom: 1.75rem;
}

.introImage {
  padding-top: 2.5rem;
}

