.background {
  background: linear-gradient(128.65deg, rgba(26, 8, 67, 0.8) 5.7%, rgba(26, 8, 67, 0.4) 113.03%);
  
  min-height: max-content;
}     

.content {
  display: grid;
  grid-template-columns: 5fr 5fr 2fr;
}

.content h1 {
  padding-top: 2.4rem;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 4.5rem;
}

.contactInfo h3 {
  color: var(--color-14);
  font-weight: 500;
}

.socialsFooter {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 4rem;
}

.developedBy {
  display: flex;
  justify-content: center;
  gap: .4rem;
  color: var(--color-13);
  margin-top: 5rem;
  padding-bottom: 1rem;
}

@media (max-width:820px) {
  .content {
    grid-template-columns: 3fr 2fr;
  }
  .socialsFooter {
    flex-direction: row;
    grid-column-start: -2;
    padding-top: 2rem;
  }
  .developedBy {
    margin-top: 4rem;
  }
}

@media (max-width:600px) {
  .content {
    grid-template-columns: 1fr;
  }
  
}