* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  --font-1: 'Fira Sans', sans-serif;
  --font-2: 'Poppins', sans-serif;
  --font-3: 'Roboto', sans-serif;
  --color-01: #FFFFFF;
  --color-02: #F8F3FF;
  --color-03: #D4C7EF;
  --color-04: #C2B2E3;
  --color-05: #B09ED7;
  --color-06: #A18ECA;
  --color-07: #947FC2;
  --color-08: #8870BC;
  --color-09: #775EAE;
  --color-10: #5E429A;
  --color-11: #442A7D;
  --color-12: #33196D;
  --color-13: #1A0843;
  --color-14: #09011C;

}

a {
  text-decoration: none;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-50px);
  animation: animeLeft .4s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.animeRight {
  opacity: 0;
  transform: translateX(50px);
  animation: animeLeft .4s forwards;
}

@keyframes animeRight {
  to {
    opacity: 1;
    transform: initial;
  }
}

.animeDown {
  opacity: 0;
  transform: translateY(40px);
  animation: animeLeft .4s forwards;
}

@keyframes animeDown {
  to {
    opacity: 1;
    transform: initial;
  }
}

.animeUp {
  opacity: 0;
  transform: translateY(-40px);
  animation: animeLeft .6s forwards;
}

@keyframes animeUp {
  to {
    opacity: 1;
    transform: initial;
  }
}


.container {
  max-width: 1200px;
  margin: 0 auto;  
  padding-left: 32px;
  padding-right: 32px;
} 

.title, h1 {
  font-family: var(--font-1);
  font-style: normal;
  font-weight: 500;
  font-size: 3.75rem;
  line-height: 4.5rem;
  color: var(--color-14);
}

.subtitle, h2 {
  font-family: var(--font-1);
  font-style: normal;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.875rem;
  color: var(--color-10);
}

.thirdTitle, h3 {
  font-family: var(--font-1);
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--color-10);
}

.functional {
  font-family: var(--font-3);
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--color-8);
}

.subFunctional {
  font-family: var(--font-3);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--color-14);
}

.body, p {
  font-family: var(--font-2);
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 2rem;
  letter-spacing: 0.015em;
  color: var(--color-13);
}

@media (max-width: 900px) {
  .title, h1 {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .subtitle, h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .thirdTitle, h3 {
    font-size: 1.1rem;
  }
  .functional {
    font-size: 1.125rem;
  }
  .subFunctional {
    font-size: .9rem;
    line-height: 1rem;
  }
  .body, p {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

@media (max-width: 820px) {
  .subFunctional {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 800px) {
  .body, p {
    font-size: .9rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 500px) {
  .title, h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .subtitle, h2 {
    font-size: 1.75rem;
    line-height: 2.125rem;
  }
  .thirdTitle, h3 {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .subFunctional {
    font-size: 1rem;
    line-height: 1.125rem;
  }
  .body, p {
    font-size: 0.85rem;
    line-height: 1.6rem;
  }
}

@media (max-width: 440px) {
  .title, h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .subtitle, h2 {
    font-size: 1.25rem;
    line-height: 1.4rem;
  }
  .thirdTitle, h3 {
    font-size: 0.9rem;
    line-height: 1.125rem;
  }
  .subFunctional {
    font-size: 0.9rem;
    line-height: 1.1rem;
  }
  .functional {
    font-size: 0.9rem;
  }
}

@media (max-width: 360px) {
  .title, h1 {
    font-size: 2rem;
    line-height: 2.125rem;
  }
  .subtitle, h2 {
    font-size: 1rem;
    line-height: 1.1rem;
  }
  .thirdTitle, h3 {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .body, p {
    font-size: 0.8rem;
    line-height: 1.4rem;
  }
}